h1 {
    font-size: 80px;
    margin: 50px 15px;
}

p {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    line-height: 25px;
    text-indent: 15px;
}

.errorMsg {
    color: red;
}

.navBar {
    z-index: 100;
}

.w3-dropdown-content {
    position: fixed;
}

.mainContent {
    margin-top: 40px;
}

.sideContent {
    padding-top: 0px;
    width: 350px;
}

.sideButton {
    border-radius: 10px;
    text-align: left;
    padding: 0;
    margin: 20px auto;
    width: 90%;
    height: 75px;
    align-self: center;
}

.caret {
    color: white;
    width: 38px;
    height: 100%;
    padding: 30px 20px;
    margin: 0;
}

.accordian {
    margin: -10px 30px 0 30px;
    z-index: -1;
    overflow: hidden;
}

.accordian > a {
    border-radius: 10px;
    margin: 0;
}

.accordian a:focus {
    border: solid rgb(45, 94, 255) 4px;
}

.accordian a:hover {
    cursor: pointer;
}

.mainContent {
    margin-left: 350px;
}





