.card .card-content {
    /* background-color: #99B4BF; */
    background-color: #A7E0FC;
}

.card .circular-progress circle.fg {
    /* stroke: #56BCFF; */
    /* stroke: #7BF558; */
    /* stroke: #57C4E8; */
    stroke: #00E278;
}

.card .circular-progress circle.bg {
    /* stroke: #56BCFF; */
    /* stroke: #7BF558; */
    /* stroke: #57C4E8; */
    stroke: rgba(252, 249, 249, 0.808);
}

.card svg text {
    fill: black;
}