body {
    padding-top:100px;
}

a:hover {
    cursor:pointer;
}



.primaryBackground{
    background-color: #3A6FA0;
    color: white;
}

.primaryBackground > a:hover {
    background-color: #7E90A1;
    color: white;
}

.secondaryBackground{
    background-color: #FFFFFF;
    color: black;
}
.tertiaryBackground{
    background-color: #35424E;
    color: white;
}
.quaternaryBackground{
    background-color: #7E90A1;
    color: white;
}





.homeLayout {
    margin-top: 100px;
    width: 100%;
    height: 90vh;
    position: absolute;
}

.testLayout {
    margin-top: 100px;
    width: 100%;
    height: 90vh;
    position: absolute;

}



#nav {
    z-index: 2;
    position: fixed;
    top: 0;
}

#side {
    z-index: 1;
    position: fixed;
    top: 100px;
}

#main {

}

#main div {
    height: 100%;
    overflow: auto;
}

#nav div {
    z-index: 2;
    position: fixed;
}



.sidebar {
    font-size: small;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 200px;

    position: fixed;
    overflow: auto;
}


.sideMenuButton {
    border-radius: 5px;
}


.sideMenuButton:focus {
    border-bottom: solid black 5px;
}



.sideMenuContainer {
    font-size: small;
    padding-top: 20px;
    padding-bottom: 200px;
    /* width: 300px; */
}

.sideSubMenuButton{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 20px auto;
    border-radius: 10px;
    text-align: left;
    white-space: normal;
    min-height: 75px;
}


.expander .button {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 20px auto;

    text-align: left;
    white-space: normal;
    min-height: 75px;

    background-color: #FFFFFF;
    color: black;
}


.expander .submenu {
    margin: -10px 0 0 30px;

    background-color: #3A6FA0;
    color: white;
}

.sidebar .button, .sidebar .menubutton {
    border-radius: 10px;
}

.sidebar .menubutton:focus {
    border-top: solid black 5px;
    border-bottom: solid black 5px;
    border-left: solid black 1px;
    border-right: solid black 1px;
}



.sideSubMenuContainer {
    border: none;
}



.caret {
    color: black;
    float: left;
    margin-right: 20px;
}
