.errorMsg {
    color: red;
}

.content {

    width: 99vw;
    height: 99vh;
    border: black solid 10px;

}

.sideContent {

    height: 100%;
    width: 25%;
    float: left;
    display: inline;

}

.mainContent {

    height: 100%;
    width: 75%;
    float: left;
    display: inline;
    background-color: beige;

}

.mainButton {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

.mainButton:hover {
    background-color: #03915d;
}

.mainButton:active {
    box-shadow: 5px 5px #666;
}


.big {
    color: red;
    font-size: 70px;
}

#theNumber {
    display: none;
}

